# Do not export these files in the Composer archive (lighter dependency)
.ddev/ export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
CHANGELOG.md export-ignore
README.md export-ignore
composer.lock export-ignore
docs/ export-ignore
ecs.php export-ignore
phpstan.neon export-ignore
phpunit.integration.xml export-ignore
phpunit.xml export-ignore
tests/ export-ignore

# Auto-detect text files and perform LF normalization
* text=auto
